body{
    background-color: aqua;
    font-size: 20px;
    border: dotted;
}
h1{
    background-color: black;
    color: brown;
    text-align: center;
    border: solid;
    color: brown;
    border-width: 20px;
    
}